.link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background: var(--color-primary);
    color: var(--color-white);

    margin: 10px;
}
